*{box-sizing: border-box;}
header {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    }

    .button-1 { 
        display:inline-block;
        position: absolute; 
        top: 30px;
        right: 10px;
        background-color: white;
        border-radius: 10px;
        width: 180px;
        height: 40px;
        font-size: large;
        font-weight: bold;
    }

    #logo {
        position: relative;
        top: 10px;
        left: 30px;
        float:left;
        }  
    
nav{
    max-width: 900px;
    margin: 0px;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    }

    .Menu_hor{
        list-style: none;
        display: flex;
        position: relative;
        left: 680px;
        text-align: left;
    }

    .Menu_hor > li > a{
        display: block;
        padding: 15px 20px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        }

    .Menu_hor > li:hover{
        background-color: rgb(200, 194, 194);
        border-radius: 10px;
        }

    .Menu_ver{
        position: fixed;
        z-index: 1;
        display: none;
        list-style: none;
        width: 200px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        }

    .Menu_hor li:hover .Menu_ver{
        display: block;
        }

    .Menu_ver li:hover{
        text-decoration: underline;
        border-radius: 10px;
        }

    .Menu_ver li a{
        display: block;
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 15px 15px 15px 20px;
        }

body{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        
    .banner-1 {
        position: relative;
        display: block;
        background-color: rgb(224,220,216);
        text-transform: uppercase;
        font-size: 50px;
        font-weight:bolder;
        height: 150px;
        }

    #conte1 {
        position: relative;
        left: 110px;
        }

    #rising {
        position: relative;
        left: 100px;
        top: 15px;
    }

    .banner-2 {
        margin: 0%;
        padding: 0%;
        display:inline;
    }

    #music1 {
        margin: 0%;
        padding: 0%;
        position: relative;
        float: right;
        width: 70%;
        top: 0px;
        z-index: 2;
    }
        
    .conte2 {
        position: relative;
        left: 100px;
        top: 200px;
        font-size: 130px;
        color: white;
        z-index: 3;
        white-space: pre;
        font-weight: 600;
    }

    .conte3 {
        position: relative;
        left: 100px;
        top: 220px;
        font-size: 20px;
        color: white;
        z-index: 3;
        white-space: pre;
    }
